@import "../../../../styles/colors";
@import "../../../../styles/vars";

.input {
  height: 20px;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  border-bottom: 1px solid $colorTertiary;
}

.name {
  color: $colorSecondary;
  line-height: 20px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  padding: 6px 0;
  background-color: transparent;
  color: $colorSecondary;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.buttonComplete {
  color: $colorPrimary;
}

.completed {
  pointer-events: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 100%;
    margin-top: -1px;
    background-color: $colorPrimary;
  }
}
