@import "../../../styles/colors";
@import "../../../styles/mixins";

.button {
  padding: 8px 15px;
  background-color: transparent;
  color: $colorPrimary;
  border-color: $colorPrimary;
  cursor: pointer;

  @include placeholder;
}
